3==0.0.0
absl-py==1.1.0
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.7
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
autobahn==22.7.1
autocorrect==2.6.1
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blis==0.7.8
bottle==0.12.21
bs4==0.0.1
buildozer==1.3.0
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.6.15
certificates==1.0.11
cffi==1.15.1
channels==3.0.5
charset-normalizer==2.0.12
click==8.1.3
clikit==0.6.2
cloudinary==1.29.0
cloudpickle==2.1.0
cmdstanpy==0.9.5
constantly==15.1.0
convertdate==2.4.0
crashtest==0.3.1
cryptography==38.0.1
cv==1.0.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.28
daphne==3.0.2
dask==2022.8.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
dj-database-url==1.0.0
Django==4.0.4
django-cloudinary-storage==0.3.0
django-cors-headers==3.13.0
django-on-heroku==1.1.2
django-phonenumber-field==6.3.0
django-tinymce==3.5.0
django-utils-six==2.0
djangorestframework==3.13.1
dm-tree==0.1.7
docutils==0.18.1
docx==0.2.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
entrypoints==0.4
ephem==4.1.3
et-xmlfile==1.1.0
executing==0.9.1
fastjsonschema==2.16.1
filelock==3.6.0
Flask==2.1.2
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
fonttools==4.33.3
frozenlist==1.3.1
fsspec==2022.7.1
Fuzzy==1.2.2
gast==0.4.0
gensim==4.2.0
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.47.0
gunicorn==20.1.0
h5py==3.7.0
hijri-converter==2.2.4
holidays==0.14.2
httpstan==4.8.1
hyperlink==21.0.0
idna==3.3
imageio==2.21.1
incremental==21.3.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.9.1
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
keras==2.9.0
Keras-Preprocessing==1.1.2
Kivy==2.1.0
Kivy-Garden==0.1.5
kivymd==0.104.2
kiwisolver==1.4.2
korean-lunar-calendar==0.2.1
lab==7.0
langcodes==3.3.0
libclang==14.0.1
locket==1.0.0
LunarCalendar==0.0.9
lxml==4.9.1
Markdown==3.3.7
MarkupSafe==2.1.1
marshmallow==3.17.0
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
multidict==6.0.2
murmurhash==1.0.8
nbclient==0.6.6
nbconvert==6.5.3
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.5
nltk==3.7
notebook==6.4.12
numpy==1.22.3
oauthlib==3.2.0
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pastel==0.2.1
pathy==0.6.2
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
platformdirs==2.5.1
pmdarima==1.8.5
preshed==3.0.7
prettytable==3.3.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
prophet==1.1
protobuf==3.19.4
psutil==5.9.1
psycopg==3.1.1
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.2
Pygments==2.11.2
pylev==1.4.0
PyMeeus==0.5.11
PyMuPDF==1.19.6
pyOpenSSL==22.1.0
pyparsing==3.0.9
PyPDF2==2.10.0
PyPDF3==1.0.6
PyPDF4==1.27.0
pyrsistent==0.18.1
pysimdjson==3.2.0
pystan==3.5.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.2.1
qtconsole==5.3.1
QtPy==2.2.0
regex==2022.8.17
report==0.0.1
reportlab==3.6.9
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
Send2Trash==1.8.0
service-identity==21.1.0
setuptools-git==1.2
sh==1.14.2
simplejson==3.17.6
six==1.16.0
sklearn==0.0
smart-open==5.2.1
soupsieve==2.3.2.post1
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
SQLAlchemy==1.4.39
sqlparse==0.4.2
srsly==2.4.4
stack-data==0.3.0
statsmodels==0.13.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-probability==0.17.0
termcolor==1.1.0
terminado==0.15.0
textblob==0.17.1
thinc==8.1.0
threadpoolctl==3.1.0
tifffile==2022.8.12
tinycss2==1.1.1
tkPDFViewer==0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
Twisted==22.8.0
txaio==22.2.1
txt2tags==3.7
typer==0.4.2
typing_extensions==4.3.0
ujson==5.4.0
urllib3==1.26.9
virtualenv==20.14.1
wasabi==0.10.1
wcwidth==0.2.5
webargs==8.2.0
webencodings==0.5.1
Werkzeug==2.1.2
whitenoise==6.2.0
widgetsnbextension==3.6.1
wordcloud==1.8.2.2
wrapt==1.14.1
xgboost==1.6.1
xlrd==2.0.1
xlwt==1.3.0
yarl==1.8.1
zope.interface==5.4.0
