{% extends 'base.html' %}

{% include 'navbar.html' %}
{% block head %} <title>About Us</title>{% endblock %}
{% block body %}
<div class="menu_display">
<p>This health Checker is a digital clinic that predicts
    whether a patient is diabetic or has breast
    cancer base on machine learning methods.
    The results obtained using this website is not guaranteed to be true,
    whether positive or negative. However, if the result is positive,
    the patient is advised to seek his/her doctor immediately. </p>
</div>

{% endblock %}